/* Toolbar Styles */
.toolbar {
    display: flex;
    justify-content: space-around;
    background: #333;
    color: #fff;
    padding: 10px;
  }
  
  .toolbar button {
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .toolbar button.active {
    background: #555;
  }
  
  /* Viewer Styles */
  .viewer {
    width: 100%;
    height: 512px;
    background: black;
    border: 1px solid white;
    position: relative;
  }
  
  .wrapper {
    position: relative;
    width: 512px;
    height: 600px;
  }
  